
/*----- utility start----- */

.align-center{
    text-align: center;   
 }

/*----- utility finish------ */

.container-top {
    padding: 0;
}

.container-nav{
    height: 70px;
    background-color: rgb(23, 23, 63);
}
/* -------------------------------- */

.container-logo{
    background-color: aqua;
    height: 400px;
    padding-top: 50px;
}

.container-heade{
    border: 1px solid white;
}

.esempio-quadrato{
    width: 100px;
    height: 80px;
    border: 1px solid black;
}
/* ----------- */
.container-box{
    background-color:burlywood;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid black;
}

.col-portofolio{
    border: 1px solid black;
    margin-bottom: 20px;
}

.content-portifolio{
    background-color: tomato;
    height: 240px;
}

/* ---------- */
.container-about{
    background-color: aqua;
    padding: 50px;
}

.container-box-about{
    background-color:burlywood;
}

.col-about {
    border: 1px solid black;
}

/* --------- */

.container-contact{
    background-color: cornflowerblue;
    padding: 50px;
}

.container-box-contact{
    background-color:burlywood;
}

.col-contact{
    border-bottom: 1px solid black;
    line-height: 30px;
}

.last-contact{
    padding-bottom: 50px;
}
/* ------------------------ */

.container-footer{
    background-color: rgb(32, 32, 80);
    padding-top: 30px;
}

.container-information{
    border: 1px solid white;
    color: white;
}
/* ---------------- */
.container-copyright{
    background-color: rgb(64, 64, 148);
    height: 70px;
}